*:not(li){
    margin-left: 40px;
}

li {
    font-style: italic;
    color: gold;
    margin-bottom: 16px;
}

.card{
    width: 400px;
    background-color: lightgray;
    border: gray;
    margin-left: 40px;
    padding: 4px;

}

h1 {
    font-family: cursive;
    font-style: italic;
    color:gold;
}

img {
    height: auto;
    width: 500px;
}

#home {
    background-color: gold;
    color: black;
    border-color: silver;
    margin-top: 16px;
}