li {
    font-style: italic;
    color: silver;
}

h1 {
    font-family: cursive;
    font-style: italic;
    color:gold;
}

img {
    height: auto;
    width: 500px;
  }

#home {
    background-color: gold;
    color: black;
}